// bower:scss
// endbower
@import url(https://fonts.googleapis.com/css?family=Teko:300);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400);
*{ box-sizing: border-box; }

body{
	background: #253841;
}

.particles{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
}

.box{
	padding: 2.5em;
	display: inline-block;
	h1{
		font-family: 'Teko', sans-serif;
		font-weight: normal;
		font-size: 50px;
		text-transform: uppercase;
		margin-left: 0.3em;
		color: rgba(255,255,255,.9);

	}
}

.activities{
	position: relative;
	transition: width 0.5s ease;
	padding-top: 1em;
	padding-right: 5vw;
	max-width: 500px;
	&:before{
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 0;
		height: 4px;
		background: rgba(255,255,255,.9);
		animation: widthGrow 1.3s ease-out forwards;
	}
	a{
		text-decoration: none;
		.activity{
			display: flex;
			font-family: 'Roboto Condensed', sans-serif;
			text-transform: uppercase;
			padding: 0.4em 0;
			opacity: 0;
			align-items: center;
			.icon-wrap{
				width: 30px;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-right: 10px;
				width: 25px;
				.icon{
					opacity: 0.6;
					width: auto;
					height: auto;
					max-height: 25px;
					max-width: 25px;
				}
			}
			.label{
				font-size: 11px;
				font-weight: 300;
				color: rgba(255,255,255,.6);
			}
			.data{
				font-size: 17px;
				font-weight: 400;
				transform: scale(0.75, 1);
				transform-origin: 0;
				-ms-transform: scale(0.75, 1);
				-ms-transform-origin: 0;
				color: rgba(255,255,255,.9);
			}
		}
		&:hover{
			.icon-wrap{
				.icon{
					opacity: 0.9;
				}
			}
		}
	}
}

.fadeInLeft{
	animation-name: fadeInLeft;
	animation-duration: 1s;
	animation-fill-mode: both;
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-20px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes widthGrow {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}
