<div class="box">
	<h1>Jazcash</h1>
	<div class="activities">
		<a href="#">
			<div class="activity music">
				<div class="img-wrap"><img class="icon" src="/img/music.svg"></div>
				<div>
					<div class="label">Last listened to</div>
					<div class="data"></div>
				</div>
			</div>
		</a>
		<a href="#">
			<div class="activity game">
				<div class="img-wrap"><img class="icon" src="/img/game.svg"></div>
				<div>
					<div class="label">Last played</div>
					<div class="data"></div>
				</div>
			</div>
		</a>
		<a href="#">
			<div class="activity tv">
				<div class="img-wrap"><img class="icon" src="/img/tv.svg"></div>
				<div>
					<div class="label">Last Watched</div>
					<div class="data"></div>
				</div>
			</div>
		</a>
	</div>
</div>
