<div class="box">
	<h1>Jazcash</h1>
	<div class="activities">
		<a href="http://www.last.fm/user/Jazcash" target="_blank">
			<div class="activity music">
				<div class="icon-wrap"><img class="icon" src="/img/music.svg"></div>
				<div>
					<div class="label">Last listened to</div>
					<div class="data"></div>
				</div>
			</div>
		</a>
		<a href="http://steamcommunity.com/id/jazcash" target="_blank">
			<div class="activity game">
				<div class="icon-wrap"><img class="icon" src="/img/game.svg"></div>
				<div>
					<div class="label">Last played</div>
					<div class="data"></div>
				</div>
			</div>
		</a>
		<a href="https://trakt.tv/users/jazcash/ratings/all/all/highest" target="_blank">
			<div class="activity tv">
				<div class="icon-wrap"><img class="icon" src="/img/tv.svg"></div>
				<div>
					<div class="label">Last watched</div>
					<div class="data"></div>
				</div>
			</div>
		</a>
		<a href="https://github.com/Jazcash?tab=activity" target="_blank">
			<div class="activity github">
				<div class="icon-wrap"><img class="icon" src="/img/github.svg"></div>
				<div>
					<div class="label">Last coded</div>
					<div class="data"></div>
				</div>
			</div>
		</a>
	</div>
</div>
<div id="particles-js" class="particles"></div>
